<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div id="player1-Info">
		<h1>You: <%= player.name %></h1>
		<h2 id="player1hp">HP: <%= player.hp %></h2>
	</div>
	<div id="player2-Info">
		<h1>Opponent: <%= opponent.name %></h1>
		<h2 id="player2hp">HP: <%= opponent.hp %></h2>
	</div>
	<h2><%= player.name %>'s turn</h2>
	<form action="/turn" method="POST">
		<input id="attack-button" type="submit" value="Attack" name="buttonId">
		<input id="paralyse-button" type="submit" value="Paralyse" name="buttonId">
		<input id="poison-button" type="submit" value="Poison" name="buttonId">
		<input id="sleep-button" type="submit" value="Sleep" name="buttonId">
    </form>
	<form action="/magic" method="POST">
		<input id="magic-button" type="submit" value="Magic Attack" name="buttonId">
	</form>
</body>
</html>